pwd-app/main/default/flows/Accept_ROB.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NavigatetoHome</name>
        <label>NavigatetoHome</label>
        <locationX>773</locationX>
        <locationY>514</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationName</name>
            <value>
                <stringValue>home</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>namedpage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <stringValue>/</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>set_errortext</name>
        <label>set errortext</label>
        <locationX>318</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>showfileerror</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cyber Security Completion Certificate not uploaded. You cannot mark ROB as completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_user_record_values</name>
        <label>set user record values</label>
        <locationX>350</locationX>
        <locationY>484</locationY>
        <assignmentItems>
            <assignToReference>usertoupdate.ROB_Accepted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>usertoupdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>do_update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_rob_date</name>
        <label>check rob date</label>
        <locationX>833</locationX>
        <locationY>163</locationY>
        <defaultConnector>
            <targetReference>welcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ROB Not Completed</defaultConnectorLabel>
        <rules>
            <name>ROB_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ROB_Accepted_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Done_0</targetReference>
            </connector>
            <label>ROB Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>cybersecurity_completed</name>
        <label>cybersecurity completed?</label>
        <locationX>150</locationX>
        <locationY>442</locationY>
        <defaultConnector>
            <targetReference>set_errortext</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>skipped fileupload</defaultConnectorLabel>
        <rules>
            <name>completed_cybersecurit_file_upload</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkuserRecords.CyberSecurity_Completion_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_user_record_values</targetReference>
            </connector>
            <label>file upload completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAccepted</name>
        <label>IsAccepted</label>
        <locationX>344</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>welcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not accepted</defaultConnectorLabel>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AcceptTerms</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkuserRecords</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
    </decisions>
    <description>updated flow to validate files are created and use ROB_Updated date field</description>
    <environments>Default</environments>
    <interviewLabel>Accept ROB {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Accept ROB</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>checkuserRecords</name>
        <label>checkuserRecords</label>
        <locationX>148</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cybersecurity_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CyberSecurity_Completion_Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>update the record</description>
        <name>do_update</name>
        <label>do update</label>
        <locationX>348</locationX>
        <locationY>601</locationY>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <faultConnector>
            <targetReference>NotDone</targetReference>
        </faultConnector>
        <inputReference>usertoupdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Done</name>
        <label>Done</label>
        <locationX>599</locationX>
        <locationY>538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NavigatetoHome</targetReference>
        </connector>
        <fields>
            <name>Done_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Done_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Done_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>doneText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Thank you for acknowledging the ROB&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your Rules of Behavior Acceptance has been recorded.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Done_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Go to Home Page</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Done_0</name>
        <label>Done</label>
        <locationX>840</locationX>
        <locationY>344</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NavigatetoHome</targetReference>
        </connector>
        <fields>
            <name>Done_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Done_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Done_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>doneText_0</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Thank you for acknowledging the ROB&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your Rules of Behavior Acceptance has been recorded on &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>showrobdate</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$User.ROB_Accepted_Date__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Done_0_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Go to Home Page</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NotDone</name>
        <label>NotDone</label>
        <locationX>630</locationX>
        <locationY>366</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NavigatetoHome</targetReference>
        </connector>
        <fields>
            <name>NotDoneText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;OOPS!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;There was an error processing your ROB Completion. Please complete the steps next time you login to App Launcher&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Go to Home Page</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome</name>
        <label>Welcome</label>
        <locationX>583</locationX>
        <locationY>207</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsAccepted</targetReference>
        </connector>
        <fields>
            <name>WelcomeText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;ORR App Launcher&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;ACF Rules of Behavior for Privileged User Accounts&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>welcome_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>welcome_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>welcome_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Text1</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Signature&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;I have read the ACF Rules of Behavior for Privileged User Accounts and understand and agree to comply with its provisions.&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;I understand that violations of the ACF Rules of Behavior for Privileged User Accounts may lead to disciplinary action and that these actions may include termination of employment, removal or disbarment from work on federal contracts or projects, revocation of access to federal information, information systems, and facilities, criminal penalties, and imprisonment.&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;I also understand that violation of certain laws, such as the Privacy Act of 1974, copyright law, and 18 USC 2071, which the ACF Rules of Behavior for Privileged User Accounts draws upon, may result in monetary fines and criminal charges that may result in imprisonment.&amp;nbsp;&amp;nbsp;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>welcome_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>welcome_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>welcome_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>welcome_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>showError</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(211, 5, 5);&quot;&gt;{!showfileerror}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>AcceptTerms</name>
                    <dataType>Boolean</dataType>
                    <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Courier New&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Accept&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>showdatetime</name>
                    <fieldText>&lt;p&gt;{!$Flow.CurrentDateTime}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AcceptTerms</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>welcome_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>check_rob_date</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>showfileerror</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&apos;&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <description>user record to update</description>
        <name>usertoupdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
