pwd-app/main/default/flows/al_LoginFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>go_to_home_page</name>
        <label>go to home page</label>
        <locationX>498</locationX>
        <locationY>786</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_FinishLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/s/</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>go_to_ROB_page</name>
        <label>go to ROB Page</label>
        <locationX>839</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_FinishLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/s/ROB</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fileuploadSkipped</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>PortalUrl</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://uacdev2.apincloud.com/UACMain.aspx</stringValue>
        </value>
    </constants>
    <decisions>
        <name>if_coming_from_community</name>
        <label>if coming from community</label>
        <locationX>487</locationX>
        <locationY>399</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>from_community</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoginFlow_Community</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UAC_welcomeToAppLauncher0</targetReference>
            </connector>
            <label>from community</label>
        </rules>
    </decisions>
    <decisions>
        <description>Has ROB Acknowledgment done or has it been &gt; 1 year since last Acknowledgement</description>
        <name>ROB_Done</name>
        <label>ROB Done</label>
        <locationX>685</locationX>
        <locationY>345</locationY>
        <defaultConnector>
            <targetReference>UAC_welcomeToAppLauncher0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ROB Completed Date is null</defaultConnectorLabel>
        <rules>
            <name>Rob_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ROB_Accepted_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_coming_from_community</targetReference>
            </connector>
            <label>ROB Completed</label>
        </rules>
    </decisions>
    <description>Removed the File Upload here</description>
    <environments>Default</environments>
    <formulas>
        <name>days_after_rob_completion</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDate} - Datevalue({!$User.UAC_loginAcknowledgmentTimestamp__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>al_LoginFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>ACF Applauncher LoginFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>debug</name>
        <label>debug</label>
        <locationX>495</locationX>
        <locationY>212</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Community</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LoginFlow_Community</elementReference>
            </defaultValue>
            <fieldText>from Community</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>app</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LoginFlow_Application</elementReference>
            </defaultValue>
            <fieldText>from app</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>type</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LoginFlow_LoginType</elementReference>
            </defaultValue>
            <fieldText>type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Just show welcome and continue</description>
        <name>UAC_welcomeToAppLauncher0</name>
        <label>Welcome to AppLauncher</label>
        <locationX>499</locationX>
        <locationY>605</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>go_to_home_page</targetReference>
        </connector>
        <fields>
            <name>Terms_And_Conditions_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Notice&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(29, 28, 29); font-family: Arial; font-size: 14px;&quot;&gt;You are accessing a U.S. Government information system, which includes (1) this computer, (2) this computer network, (3) all computers connected to this network, and (4) all devices and storage media attached to this network or to a computer on this network. This information system is provided for U.S. Government-authorized use only. Unauthorized or improper use of this system may result in disciplinary action, as well as civil and criminal penalties. By using this information system, you understand and consent to the following:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(29, 28, 29); font-family: Arial; font-size: 14px;&quot;&gt;You have no reasonable expectation of privacy regarding any communications or data transiting or stored on this information system. At any time, the government may for any lawful government purpose monitor, intercept, search and seize any communication or data transiting or stored on this information system.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(29, 28, 29); font-family: Arial; font-size: 14px;&quot;&gt;Communications or data transiting or stored on this information system may be disclosed or used for any lawful government purpose. Your consent is final and irrevocable.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(29, 28, 29); font-family: Arial; font-size: 14px;&quot;&gt;You may not rely on any statements or informal policies purporting to provide you with any expectation of privacy regarding communications on this system.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(29, 28, 29); font-family: Arial; font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(29, 28, 29); font-family: Arial; font-size: 14px;&quot;&gt;For further information see the Department order on Use and Monitoring of Department Computers and Computer Systems.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Just show welcome and continue</description>
        <name>UAC_welcomeToAppLauncher0_0</name>
        <label>Welcome to AppLauncher</label>
        <locationX>885</locationX>
        <locationY>433</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>go_to_ROB_page</targetReference>
        </connector>
        <fields>
            <name>Terms_And_Conditions_0_0</name>
            <fieldText>&lt;p&gt;You are required to complete t&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: var(--lwc-fontSize3,0.8125rem);&quot;&gt;he&lt;/span&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: var(--lwc-fontSize3,0.8125rem);&quot;&gt; Cyber Security Awareness Training &lt;/strong&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: var(--lwc-fontSize3,0.8125rem);&quot;&gt;and&lt;/span&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: var(--lwc-fontSize3,0.8125rem);&quot;&gt; Rules of Behavior &lt;/strong&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: var(--lwc-fontSize3,0.8125rem);&quot;&gt;to access the ORR App launcher.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Complete Cyber Security Awareness Training&lt;/li&gt;&lt;li&gt;Upload the Completion Certificate below&lt;/li&gt;&lt;li&gt;Review Rules of Behavior Document and Sign&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Please click the Continue button to start the process&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>586</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ROB_Done</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ConfirmationProvided</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>fileuploadSkipped</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Application</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Community</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_FinishLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_LoginType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
