pwd-app/main/default/flows/al_security_certification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>get_filedetails</name>
        <label>get filedetails</label>
        <locationX>650</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>fileuploadSkipped</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>certfileid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_the_contentids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_the_contentids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>get_filename</name>
        <label>get filename</label>
        <locationX>650</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>certfilename</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>for_the_filenames</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_the_filenames</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_error</name>
        <label>set error</label>
        <locationX>1354</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>fileuploadSkipped</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UAC_welcomeToAppLauncherROB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_the_cybersecurity_date</name>
        <label>set the cybersecurity date</label>
        <locationX>480</locationX>
        <locationY>1436</locationY>
        <assignmentItems>
            <assignToReference>userRecordtoUpdate.CyberSecurity_Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userRecordtoUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Userrecord</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>PortalUrl</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://uacdev2.apincloud.com/UACMain.aspx</stringValue>
        </value>
    </constants>
    <decisions>
        <name>check_ROB_Date</name>
        <label>check ROB Date</label>
        <locationX>584</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>UAC_welcomeToAppLauncherROB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ROB Not Completed</defaultConnectorLabel>
        <rules>
            <name>ROB_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ROB_Accepted_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Completed_Screen</targetReference>
            </connector>
            <label>ROB Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>did_you_upload_file</name>
        <label>did you upload file</label>
        <locationX>958</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>set_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no files</defaultConnectorLabel>
        <rules>
            <name>file_uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>filecount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>for_the_filenames</targetReference>
            </connector>
            <label>file uploaded</label>
        </rules>
    </decisions>
    <description>this is to seperate the security certification from login flow</description>
    <environments>Default</environments>
    <formulas>
        <name>customdomain</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_550})) + &quot;/lightning/r/ContentDocument/&quot; +  {!certfileid} + &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <description>get the content count - using len() - if len &lt; 2 then no file loaded</description>
        <name>filecount</name>
        <dataType>Number</dataType>
        <expression>LEN({!trainingcert.contentDocIds})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>file description</description>
        <name>fileDescription</name>
        <dataType>String</dataType>
        <expression>{!certfilename}+ &apos; uploaded as Cyber Security Completion Certificate&apos;</expression>
    </formulas>
    <formulas>
        <name>fileTitle</name>
        <dataType>String</dataType>
        <expression>&apos;Cybersecurity Certificate &apos;+ {!$User.Username} + &apos; on &apos; +  text({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>al security certification {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>al security certification</label>
    <loops>
        <name>for_the_contentids</name>
        <label>for the contentids</label>
        <locationX>562</locationX>
        <locationY>902</locationY>
        <collectionReference>trainingcert.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_filedetails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Content_Document_with_description</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>for_the_filenames</name>
        <label>for the filenames</label>
        <locationX>562</locationX>
        <locationY>566</locationY>
        <collectionReference>trainingcert.fileNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_filename</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>for_the_contentids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>update_Content_Document_with_description</name>
        <label>update Content Document with description</label>
        <locationX>562</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>certfileid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>fileDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>fileTitle</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocument</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Userrecord</name>
        <label>update Userrecord</label>
        <locationX>553</locationX>
        <locationY>1546</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>userRecordtoUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Show Confirmation</description>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>341</locationX>
        <locationY>1344</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>set_the_cybersecurity_date</targetReference>
        </connector>
        <fields>
            <name>fileuploadgood</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Successfully uploaded {!certfilename} to ORR Applauncher&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>compliancy_0</name>
            <choiceReferences>Yes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I have completed and uploaded  the Cyber Security Training Certificate</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Show Error</description>
        <name>ErrorScreen</name>
        <label>Error Screen</label>
        <locationX>826</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Retry Upload Security Certificate</backButtonLabel>
        <fields>
            <name>fileuploadgood_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(218, 11, 11);&quot;&gt;Error  uploading the Cybersecurity certificate to  ORR Applauncher&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(218, 11, 11);&quot;&gt;Please notify the ORR App launcher Team&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Show Confirmation</description>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>347</locationX>
        <locationY>1579</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>fileuploadgood_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Successfully marked your Cyber Security Certification Completion Date as  {!$Flow.CurrentDate} in ORR Applauncher&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>helpContinue_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Next Step:  &lt;/strong&gt;Accept the Rules of Behavior below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>show Cybersecurity Completed screen</description>
        <name>Show_Completed_Screen</name>
        <label>Show Completed Screen</label>
        <locationX>210</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Upload Security Certificate</backButtonLabel>
        <fields>
            <name>completedcybertraining</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;﻿&lt;/strong&gt;You have completed &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Cyber Security Training &lt;/span&gt;and uploaded&amp;nbsp;the Certificate on&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>showrobdate</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$User.CyberSecurity_Completion_Date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>show ROB Requirement</description>
        <name>UAC_welcomeToAppLauncherROB</name>
        <label>Welcome to App Launcher ROB</label>
        <locationX>958</locationX>
        <locationY>326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>did_you_upload_file</targetReference>
        </connector>
        <fields>
            <name>Terms_And_Conditions</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;NOTICE&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You are required to complete t&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;he&lt;/span&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt; Cyber Security Awareness Training &lt;/strong&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;and&lt;/span&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt; Rules of Behavior &lt;/strong&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;to access the ORR App launcher.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Complete Cyber Security Awareness Training&lt;/li&gt;&lt;li&gt;Upload the Completion Certificate below&lt;/li&gt;&lt;li&gt;Review Rules of Behavior Document and Sign&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UAC_welcomeToAppLauncherROB_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UAC_welcomeToAppLauncherROB_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UAC_welcomeToAppLauncherROB_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>traininglink</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://www.hhs.gov/sites/default/files/hhs-etc/cybersecurity-awareness-training/index.html&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Complete Cyber Security Training&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>trainingcert</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload Cyber Security Training Completion Certificate here</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.pdf</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>$User.ContactId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>title</name>
                        <value>
                            <stringValue>Please upload the Cyber Security Training Completion Certificate </stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>errortext</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(195, 4, 4);&quot;&gt;Please make sure to upload the certificate as a pdf file&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>fileuploadSkipped</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>UAC_welcomeToAppLauncherROB_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>check_ROB_Date</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>certfileid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>certfilename</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentlink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>fileuploadSkipped</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Update the Cyber Security Updated Date</description>
        <name>userRecordtoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
