pwd-app/main/default/flows/App_Launcher_User_discovery.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Generates auth code that is sent to User via email.</description>
        <name>Send_Authorization_Code</name>
        <label>Send Authorization Code</label>
        <locationX>1174</locationX>
        <locationY>518</locationY>
        <actionName>POC_PasswordLessLogin_Init</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Verify_Auth_Code_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>Get_User_for_this_Contact.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Generated_Auth_Code</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendEmailConfirmation</name>
        <label>sendEmailConfirmation</label>
        <locationX>852</locationX>
        <locationY>687</locationY>
        <actionName>POC_PasswordLessLogin_Email</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EmailConfirmed</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>Get_User_for_this_Contact.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isEmailConfirmed</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>verifyAuthCode</name>
        <label>verifyAuthCode</label>
        <locationX>1545</locationX>
        <locationY>457</locationY>
        <actionName>POC_PasswordLessLogin_Verify</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Was_Auth_Code_Validated</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>providedValuesList</name>
            <value>
                <elementReference>VerificationValues</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isValidated</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Stage_1</name>
        <label>Assign Stage 1</label>
        <locationX>175</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Verify_Name_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_Email_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_2</name>
        <label>Assign Stage 2</label>
        <locationX>697</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Verify_Birthdate_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_for_this_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_3</name>
        <label>Assign Stage 3</label>
        <locationX>1051</locationX>
        <locationY>340</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Verify_Auth_Code_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Authorization_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_4</name>
        <label>Assign Stage 4</label>
        <locationX>1365</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Identity_Verified_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User_for_this_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Generated_Auth_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Codevalue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>verifyAuthCode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>set LoginFlow_ForceLogout value to true to end flow and logout</description>
        <name>end_flow</name>
        <label>end flow</label>
        <locationX>1439</locationX>
        <locationY>1036</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_ForceLogout</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Does_Contact_Exist</name>
        <label>Does Contact Exist</label>
        <locationX>348</locationX>
        <locationY>643</locationY>
        <defaultConnector>
            <targetReference>Assign_Stage_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Found</defaultConnectorLabel>
        <rules>
            <name>Contact_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Id_Variable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Not_Found_Screen</targetReference>
            </connector>
            <label>Contact Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_User_exist</name>
        <label>Does User Exist?</label>
        <locationX>688</locationX>
        <locationY>687</locationY>
        <defaultConnector>
            <targetReference>sendEmailConfirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Found</defaultConnectorLabel>
        <rules>
            <name>User_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_for_this_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Not_Found_Screen</targetReference>
            </connector>
            <label>User Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailConfirmed</name>
        <label>EmailConfirmed</label>
        <locationX>986</locationX>
        <locationY>689</locationY>
        <defaultConnector>
            <targetReference>EmailNotConfirmed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Confirmed</defaultConnectorLabel>
        <rules>
            <name>Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isEmailConfirmed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_3</targetReference>
            </connector>
            <label>Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Auth_Code_Entered</name>
        <label>Was Auth Code Entered</label>
        <locationX>1355</locationX>
        <locationY>680</locationY>
        <defaultConnector>
            <targetReference>Assign_Stage_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Auth Code Entered</defaultConnectorLabel>
        <rules>
            <name>No_Auth_Code_Entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Codevalue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auth_Code_Required_Screen</targetReference>
            </connector>
            <label>No Auth Code Entered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Auth_Code_Validated</name>
        <label>Was Auth Code Validated</label>
        <locationX>1537</locationX>
        <locationY>680</locationY>
        <defaultConnector>
            <targetReference>Identity_Verified_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Validated</defaultConnectorLabel>
        <rules>
            <name>Not_Validated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isValidated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthCodeNotValidated</targetReference>
            </connector>
            <label>Not Validated</label>
        </rules>
    </decisions>
    <description>trying to logout</description>
    <environments>Default</environments>
    <formulas>
        <name>User_Formula</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}</expression>
    </formulas>
    <interviewLabel>App Launcher User discovery {!$Flow.CurrentDateTime}</interviewLabel>
    <label>App Launcher User discovery</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Contact_Lookup_by_Email</name>
        <label>Contact Lookup by Email</label>
        <locationX>175</locationX>
        <locationY>641</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_Exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_display</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserEmail.value</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Contact_Id_Variable</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>mobilephone_variable</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>phone_variable</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <sortField>LastName</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Test if the Contact is already a Community Member</description>
        <name>Get_User_for_this_Contact</name>
        <label>Get User for this Contact</label>
        <locationX>697</locationX>
        <locationY>515</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_User_exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_display</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Id_Variable</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>UserRoleId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Auth_Code_Required_Screen</name>
        <label>Auth Code Required Screen</label>
        <locationX>1366</locationX>
        <locationY>872</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>end_flow</targetReference>
        </connector>
        <fields>
            <name>Auth_Code_Required</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(62, 62, 60);&quot;&gt;Authentication Code must be entered&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Try Again</description>
        <name>AuthCodeNotValidated</name>
        <label>AuthCodeNotValidated</label>
        <locationX>1544</locationX>
        <locationY>885</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>end_flow</targetReference>
        </connector>
        <fields>
            <name>AuthCodeNotValidatedText</name>
            <fieldText>&lt;p&gt;Authentication Code not Validated. Please try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Not_Found_Screen</name>
        <label>Contact Not Found</label>
        <locationX>356</locationX>
        <locationY>474</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Verify_Email_Screen</targetReference>
        </connector>
        <fields>
            <name>Contact_Not_Found_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Contact Name Not Found&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name_Not_Found_Script</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>Name_Not_Found_Script_Text_Template</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Confirm email and start again.</description>
        <name>EmailNotConfirmed</name>
        <label>EmailNotConfirmed</label>
        <locationX>993</locationX>
        <locationY>874</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EmailNotConfirmedText</name>
            <fieldText>&lt;p&gt;Email Not Confirmed. Please confirm email and start again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error_display</name>
        <label>error display</label>
        <locationX>194</locationX>
        <locationY>904</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errortext</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>cannot get beyond this</stringValue>
            </defaultValue>
            <fieldText>errortext</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Identity_Verified_Screen</name>
        <label>Identity Verified</label>
        <locationX>1715</locationX>
        <locationY>679</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Identity Verified&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Success_Script</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>Identity_Verified_Script_Text_Template</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Not_Found_Screen</name>
        <label>User Not Found</label>
        <locationX>697</locationX>
        <locationY>868</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Birth_postal_not_found</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;User Does not Exist&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>birthdate_postal_not_found_script</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>Birthdate_postal_not_found_call_script</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verify_Auth_Code_Screen</name>
        <label>Verify Auth Code</label>
        <locationX>1179</locationX>
        <locationY>678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Was_Auth_Code_Entered</targetReference>
        </connector>
        <fields>
            <name>Code_Verification_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Verify &lt;/span&gt;&lt;span style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Authentication&lt;/span&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt; Code&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Verify_Postcode_Script</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>Verify_Authentication_Code_Script_Text_Template</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Mobile_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Email: {!Get_User_for_this_Contact.Email}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Codevalue</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Code_Variable</elementReference>
            </defaultValue>
            <fieldText>Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Get Users Email</description>
        <name>Verify_Email_Screen</name>
        <label>Verify Email</label>
        <locationX>175</locationX>
        <locationY>474</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Lookup_by_Email</targetReference>
        </connector>
        <fields>
            <name>Verify_Name_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Verify Name&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Name_Script</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>Customer_Name_Script_Template</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UserEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>setup_service_experience__Verify_Cust</sourceTemplate>
    <stages>
        <name>Identity_Verified_Stage</name>
        <isActive>true</isActive>
        <label>Identity Verified</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Verify_Auth_Code_Stage</name>
        <isActive>true</isActive>
        <label>Verify Authentication Code</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Verify_Birthdate_Stage</name>
        <isActive>true</isActive>
        <label>Verify Birthdate</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Verify_Name_Stage</name>
        <isActive>true</isActive>
        <label>Verify Name</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>49</locationX>
        <locationY>117</locationY>
        <connector>
            <targetReference>Assign_Stage_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Birthdate_postal_not_found_call_script</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>We can’t verify your identity at this time. Let me connect you to a supervisor to further assist.</text>
    </textTemplates>
    <textTemplates>
        <name>Customer_Name_Script_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hello, I&apos;m {!User_Formula}. With whom am I speaking?</text>
    </textTemplates>
    <textTemplates>
        <name>Flow_Title_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Verify Identity</text>
    </textTemplates>
    <textTemplates>
        <name>Identity_Verified_Script_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Thanks, we verified your identity successfully.</text>
    </textTemplates>
    <textTemplates>
        <name>Name_Not_Found_Script_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hmm, I can&apos;t find any information for that name. Let me try again.</text>
    </textTemplates>
    <textTemplates>
        <name>Null_Authentication_Code_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;Hmm, we don&apos;t have an authentication code on record to check against.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Null_Birthdate_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(194, 57, 52);&quot;&gt;Hmm, we don&apos;t have a birthdate on record to check against.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Verify_Authentication_Code_Script_Text_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Can I verify your authentication code?</text>
    </textTemplates>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Birthdate_Variable</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Code_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Id_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Generated_Auth_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isEmailConfirmed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isValidated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>finish location</description>
        <name>LoginFlow_FinishLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>/</stringValue>
        </value>
    </variables>
    <variables>
        <name>LoginFlow_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>mobilephone_variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phone_variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VerificationValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
