pwd-app/main/default/flows/Get_User_Requests.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>setfilter</name>
        <label>setfilter</label>
        <locationX>389</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>v_AccountContains</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>acctfilter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen2</targetReference>
        </connector>
    </assignments>
    <description>Create User Requests</description>
    <dynamicChoiceSets>
        <name>getContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rcAccountList</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Email</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>rcAccountList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>acctfilter</elementReference>
            </value>
        </filters>
        <limit>10</limit>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Get User Requests {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get User Requests</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>235</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>setfilter</targetReference>
        </connector>
        <fields>
            <name>acctfilter</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>NEW</stringValue>
            </defaultValue>
            <fieldText>acctfilter</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen2</name>
        <label>screen2</label>
        <locationX>535</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>showcontacts</targetReference>
        </connector>
        <fields>
            <name>acctpivk</name>
            <choiceReferences>rcAccountList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>acctpivk</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showcontacts</name>
        <label>showcontacts</label>
        <locationX>655</locationX>
        <locationY>202</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>getContact</name>
            <choiceReferences>getContacts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>getContact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>407</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>screen1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>v_AccountContains</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_accountCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
